<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="normal/base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Profile</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
<section class="profile-body">
  	<h2 style="color:red">In order to access Premium Article, you have to pay :) </h2>
  	
</section>
</body>
</html>