<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User View Blog</title>
</head>
<body>
<section>
	<div class="row" style="margin-right: 3%; margin-left: 3%">
		<div class="col-md-4 mt-2" th:each= "b : ${blogs}">
			<div class="card-deck">
			  <div class="card card-show-all-blogs" style="border-radius:10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);">
			    <img class="card-img-top" th:src="@{'/img/'+${b.image}}" style="height:180px; width:100%; object-fit:cover">
			    <div class="card-body">
			      <h5 class="card-title text-center" th:text="${b.title}" style="text-transform: uppercase">Card title</h5>			   
			      <div class="container text-center"> 
			      	<button class="btn btn-success mt-2 text-center">
			      		<a th:href="@{'/user/blog/'+${b.id}}" style="text-decoration:none; color:white"> Read Here</a>
			      	</button>
			      </div>
			      <!-- Time !important -->
			      <!-- <p class="card-text text-center mt-3"><small class="text-muted ">Last updated 3 mins ago</small></p> -->
			      <div class="container text-center" style="padding: 3px;">
						    <!-- edit blog button -->
						    <form th:action="@{'/user/update-blog/'+${b.id}}" method="POST" style="display: inline-block;"> 
						        <button type="submit" style="background-color:white;border: none;outline: none;">
						            <i class="fas fa-edit" style="color:green; cursor:pointer;padding: 2px;"></i> 
						        </button> 
						    </form>
						    <!-- delete blog button -->
						    <a th:onclick="|deleteBlog(${b.id})|" style="display: inline-block;">
						        <i class="fas fa-trash-alt" style="color:red; cursor:pointer; margin-left:3px;"></i> 
						    </a>
				</div>
			    </div>
			  </div>
			</div>
		 </div>	
	</div>
	<nav aria-label="Page navigation example" th:if="${totalpage > 1}" class="mt-5">
		  <ul class="pagination justify-content-center">
		    <li class="page-item" th:if="${currentpage != 0}">
		      <a class="page-link" th:href="@{'/user/show-blogs/'+${currentpage-1}}" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			        <span class="sr-only">Previous</span>
      		  </a>
		    </li>
		    <li class="page-item" th:classappend="${currentpage==i-1? 'active':'' }" 
		    					  th:each="i : ${#numbers.sequence(1,totalpage)}">
		    	<a class="page-link" th:href="@{'/user/show-blogs/'+${i-1}}"> <span th:text="${i}"> </span> </a>
		    </li>
		    <li class="page-item" th:if="${currentpage != totalpage-1}">
		            <a class="page-link" th:href="@{'/user/show-blogs/'+${currentpage+1}}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
      				</a>
		    </li>
		  </ul>
	</nav>
</section>

	
</body>
</html>