<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	 <section class="about-section">
        <div class="about-container">
            <h1>About Us</h1>
            <p>Welcome to the Edged & Taken Cricket Blogging Site! We are passionate about cricket and dedicated to providing insightful articles, news, and analysis related to the sport. Our goal is to create a platform for cricket enthusiasts to connect, share ideas, and stay updated with the latest happenings in the cricket world.</p>
            <p>At Edged & Taken, we believe in the power of cricket to inspire, unite, and entertain. Whether you are a casual fan or a die-hard cricket lover, you'll find engaging content that caters to your interests. From match previews and player profiles to in-depth match analysis and opinion pieces, our team of cricket experts brings you compelling and thought-provoking articles.</p>
            <p>Stay connected with us for regular updates on international matches, domestic leagues, cricketing events, and more. Join the discussion, leave comments, and share your thoughts with our vibrant community of cricket enthusiasts. We value your feedback and encourage active participation from our readers.</p>
            <p>Thank you for visiting Edged & Taken. We hope you enjoy your time here, and we look forward to bringing you the best of cricket through our blog.</p>
        </div>
        <footer>
        <p>&copy; 2023 Edged & Taken Site. All rights reserved.</p>
    </footer>
    </section>
    
</body>
</html>