<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Forget Password</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="favicon.png">
</head>
<body>
<section>
<!-- <div th:if="${session.message}" class="container">
  		<div class="alert alert-danger my-2 text-center" role="alert">
  			<span th:text="${session.message}"></span>
  		</div>
  		<th:block th:text="${#session.removeAttribute('message')}"></th:block>
  	</div> -->
  <div class="container bg-white p-4 mt-3" style="width:40%; border-radius:10px">
  <h2 class="text-center">Forget Password</h2>
  <form method="post" th:action="@{/otp}">
    <div class="form-group mt-3">
     <!--  <label for="registerEmail mt-2">Enter Email</label> -->
      <input name="registerEmail" type="email" class="form-control mt-2" id="confirmPassword" placeholder="Enter Email" required>
    </div>
    <div class="container text-center">
    <button type="submit" class="btn btn-warning mt-3">Send OTP</button>
    </div>
  </form>
</div>
</section>
</body>
</html>