<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">	
			<h1 class="font-weight-bold"> The Sukriti Kuila Blog</h1>
			<button class="btn bg-primary btn-lg text-white">
				<a class="btn-home" th:href="@{/user/home_page}"> Get Started </a>
			</button>	
		</div>
	</section>
</body>
</html>