<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Live Matches</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
    </style>
</head>
<body>
<section>
    <div class="center-table">
        <div class="table-fixed-header text-center" style="border-radius:6px;">
            <table class="table table-striped" >
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Match</th>
                        <th>Venue</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="match, status : ${liveMatches}" th:class="${status.index % 2 == 0} ? 'even' : 'odd'">
                        <td th:text="${match.team2}"></td>
		                <td th:text="${match.team1}"></td>
		                <td th:text="${match.matchType}"></td>
		                <td th:text="${match.matchStatus}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>
